instance_name = "ubuntu2404-postgresql17-lab"

lan_interface       = "eno1"
network_mode        = "dhcp"
guest_ipv4_address  = ""
guest_ipv4_prefix   = 24

postgresql_version = 17

db_name        = "labdb"
db_user        = "labuser"
db_password    = "CHANGE_ME_1234"
db_client_cidr = "192.168.1.0/24"
