# Incus container
container_name = "ubuntu2404-postgresql17-lab"
cpu_limit      = "2"
memory_limit   = "2GiB"

# Ubuntu host LAN interface used by macvlan
lan_interface = "eno1"

# IPv4 configuration for eth1
network_mode       = "dhcp"
guest_ipv4_address = ""
guest_ipv4_prefix  = 24

# PostgreSQL
postgresql_version = "17"

# Example only.
# Replace this value by running scripts/create-terraform-tfvars.sh.
postgres_password = "ChangeMe1234"
